body {
    background-color: #e9ebee;
    font-family: tahoma;
}

/* Top Bar Styles */
#top-bar {
    height: 100px;
    background-color: #3B5998;
    color: #d9dfeb;
    padding: 4px;
}

#site-name {
    font-size: 40px;
}

#signup-button {
    background-color: #42b72a;
    width: 70px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    float: right;
}

/* Login Section Styles */
#login-page {
    background-color: white; 
    /*height: 200px; */
    width: 800px; 
    margin: auto; 
    margin-top: 50px;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}

#text {
    /* Used instead of <br> */
    display: block;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;

    /* text box styles */
    height: 40px;
    width: 300px;
    border-radius: 4px;
    border: solid 1px #888; 
    
    /* Placeholder */
    padding: 6px;
    font-size: 14px;
}

.greyText {
    color: grey;
}

.blackText {
    color: black;
}

#button {
    height: 40px;
    width: 300px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    background-color: #3B5998;
    color: white;
    margin-bottom: 50px;
}


/* PHP Styles */
#error {
    background-color: grey;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}