body {
    background-color: #d0d8e4;
    font-family: tahoma;
}

/* Top Bar Styles */
#top-bar {
    height: 50px;
    background-color: #405d9b;
    color: #d9dfeb;
}

#site-name {
    width: 800px;
    margin: auto;
    font-size: 30px;
    text-decoration: none;
}

#site-name a {
    text-decoration: none;
    color: #d9dfeb;
}

#search-box {
    width: 400px;
    height: 20px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: 14px;

    /* Search Icon */
    background-image: url(../Test-Images/search.png);
    background-repeat: no-repeat;
    background-position: right;
}

#logout {
    color: white;
    text-decoration: none;
    font-size: 11px;
    float: right;
    margin: 10px;
}

#profile-icon {
    width: 50px;
    float: right
}


/* Cover Area Styles */
#cover-area {
    width: 800px;
    margin: auto;
    min-height: 400px;
}

/* Profile Top */
#profile-area {
    background-color: white;
    color: #aaa;
    text-align: center;
}

#cover-image-area {
    margin-bottom: 5px;
}

#cover-image {
    width: 100%;
}

#profile-image {
    width: 150px;
    margin-top: -200px;
    border-radius : 50%;
    border: solid 2px white;
}

#profile-name {
    font-size: 20px;
    color: #405d9b;
    margin-bottom: 5px;
}

#menu-button {
    width: 100px;
    display: inline-block;
    margin: 2px;
}

#menu-button:hover {
    color: #405d9b;
}


/* Main Content Area */
#main-content-area {
    display: flex;
}

/* Friends Area */
#friends-area {
    min-height: 400px;
    flex: 1;
}

#friends-bar {
    background-color: white;
    min-height: 400px;
    margin-top: 20px;
    color: #aaa;
    padding: 8px;
}

#section-title{
    color: #405d9b;
    font-size: 20px;
    margin-bottom: 5px;
}

#friend {
    display: flex;
    align-items: center;
    clear: both;
    border-top: 1px solid #d5d5d5;
}

#friend:hover {
    background-color: #e9e7e7;
    color: #405d9b;
}

#friend-image {
    flex: 1;
    width: 75px;
    margin: 4px;
}

#friend-name {
    flex: 1;
    align-items: center;
}

/* Posts Area */
#posts-area {
    min-height: 400px;
    flex: 2.5;
    padding: 20px;
    padding-right: 0px;
}

#post-box {
    background-color: white;
    border: solid thin #aaa;
    padding: 10px;
    padding-bottom: 30px;
}

#text-area {
    width: 100%;
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 60px;
}

#post-button {
    float: right;
    background-color: #405d9b;
    color: white;
    border: none;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;
}

#post-bar {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

#post {
    padding: 4px;
    font-size: 13px;
    display: flex;
    border-top: 1px solid #d5d5d5;
}

#post-icon {
    width: 75px;
    margin-right: 5px;
}

#post-message {
    min-height: 95px;
    position: relative;
    width: 100%;
}

#post-name {
    font-weight: bold;
    color: #405d9b;
}

#post-options {
    /*position: absolute;*/
    /*bottom: 0;*/
    margin-top: 5px;
    padding-top: 2px;
    border-top: 1px solid #999;
    width: 100%;
}

#post-options a {
    color: #405d9b;
}

#post-options span {
    color: #999;
}


/* Timeline Page Styles */
#timeline-area {
    min-height: 400px;
    flex: 1;
    text-align: center;
}

#timeline-bar {
    background-color: white;
    min-height: 400px;
    margin-top: 20px;
    color: #aaa;
    padding: 8px;
}

#timeline-profile-image {
    width: 150px;
    border-radius : 50%;
    border: solid 2px white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#timeline-name {
    color: #405d9b;
    font-size: 25px;
    margin-top: 5px;
}

#timeline-name a {
    color: #405d9b;
    text-decoration: none;
}